* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

// ::-webkit-scrollbar-track {
//     background: #f1f1f1;
// }

// ::-webkit-scrollbar-thumb {
//     background: #333;
// }

// ::-webkit-scrollbar-thumb:hover {
//     background: #444;
// }


::selection {
    background-color: #d6d6d6;
    color: #333;
}

body {
    font-family: "Work Sans", "sans-serif";
    
}


// container 
.container {
    margin: 0 auto;
}



// small screens
@media (min-width: 768px) {
    .container {
        width: 750px;
        padding: 0 5px;
    }
}

// medium screens
@media (min-width: 992px) {
    .container {
        width: 970px;
        padding: 0 30px;

    }
}


// large screens
@media (min-width: 1200px) {
    .container {
        width: 1170px;
        padding: 0 30px;

    }
}
