$mc: #0d84c4;
$sc: #333;
$bgc: #eee;
$bg2: #eee;

.arrow {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: $mc;
    color: white;
    padding: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
    display: none;
}
.header {
    z-index: 555;
    position:sticky;
    top: 0;
    padding: 15px;
    background-color: white;
    opacity: 0.99;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
    .logo {
        a {
            padding: 5px;
            text-decoration: none;
            color: $sc;
            border-radius: 10px 0 10px 10px;
            -webkit-border-radius: 10px 0 10px 10px;
            -moz-border-radius: 10px 0 10px 10px;
            -ms-border-radius: 10px 0 10px 10px;
            -o-border-radius: 10px 0 10px 10px;
        }
        &::first-letter {
            color: $mc;
            font-family:cursive;
            font-size: 1.4em;
        }
    }
    .links {
        position: relative;
        .icon {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 25px;
            span {
                background-color: $sc;
                margin-bottom: 4px;
                height: 2px;
                &:nth-child(1) {
                    width: 100%;
                }
                &:nth-child(2) {
                    width: 75%;
                    transition: all 0.2s;
                    -webkit-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -ms-transition: all 0.2s;
                    -o-transition: all 0.2s;
                }
                &:nth-child(3) {
                    width: 100%;
                }
            }
        }
        &:hover {
            .icon {
                span:nth-child(2) {
                    width: 100%;
                    background-color: $mc;
                }
            }
        }
        ul {
            background-color: $bgc;
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top: 30px;
            min-width: 12em;
            display: none;
            border-radius: 10px 0 10px 10px;
            -webkit-border-radius: 10px 0 10px 10px;
            -moz-border-radius: 10px 0 10px 10px;
            -ms-border-radius: 10px 0 10px 10px;
            -o-border-radius: 10px 0 10px 10px;
            &::after {
                content: "";
                position: absolute;
                border: 10px solid transparent;
                top: -20px;
                right: 0px;
                border-bottom-color: $bgc;
            }
            li {
                a {
                    font-size: 0.9em;
                    display: block;
                    color: $sc;
                    text-decoration: none;
                    padding: 10px;
                    transition: all 0.8s ease;
                    -webkit-transition: all 0.8s ease;
                    -moz-transition: all 0.8s ease;
                    -ms-transition: all 0.8s ease;
                    -o-transition: all 0.8s ease;
                    &:hover {
                        padding-left: 20px;
                        color: $mc;
                    }
                }
                &:not(:last-child) a {
                    border-bottom: 0.5px solid white;
                }
            }
            &.open {
                display: block;
            }
        }
        cursor: pointer;
    }
}


.portfolio {
    height: 92vh;
    visibility: visible;
    h3 {
        text-align: center;
        margin: 0;
        margin-bottom: 25px;
        color: $mc;
    }
    .container {
        height: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .part1 {
            align-self: center;
            width: 50%;
            display: flex;
            flex-direction: column;
            h4 {
                margin: 5px;
                padding-bottom: 5px;
            }
            .description {
                background-color: #eee;
                padding: 10px;
                font-size: 1.2em;
                font-weight: 500;
                p {
                    line-height: 42px;
                    .span1 {
                        color: $mc;
                        font-weight: 600;
                    }
                }
                border-radius: 0 20px 20px 5px;
                -webkit-border-radius: 0 20px 20px 5px;
                -moz-border-radius: 0 20px 20px 5px;
                -ms-border-radius: 0 20px 20px 5px;
                -o-border-radius: 0 20px 20px 5px;
            } 
            a {
                background-color: #333;
                color: white;
                font-size: 0.8em;
                text-decoration: none;
                width: fit-content;
                margin-top: 5px;
                padding: 10px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                transition: all 0.5s ease-in-out;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                &:hover {
                    background-color: #222;
                }
                &.cv {
                    background-color: #1877f2;
                    &:hover {
                        background-color: #0077B5;
                    }
                }
            }
        }
        .part2{
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;
            width: 5%;
            a {
                color: #333;
                &:nth-child(1){
                    color:rgb(29 155 240);
                    margin-bottom: 20px;
                }
                &:nth-child(2){
                    color:#1877f2;
                    margin-bottom: 20px;
                }
                &:nth-child(3){
                    color:#0077B5;
                    margin-bottom: 20px;
                }
                &:nth-child(4){
                    color:initial;
                    margin-bottom: 20px;
                }
                &:nth-child(5){
                    color:hsl(27deg 90% 55%);
                    margin-bottom: 20px;
                }
                &:nth-child(6){
                    color:#db4a39;
                }
            }
            transition: all 0.5s ease ;
            -webkit-transition: all 0.5s ease ;
            -moz-transition: all 0.5s ease ;
            -ms-transition: all 0.5s ease ;
            -o-transition: all 0.5s ease ;
        }
        .part3{
            align-self: flex-start;
            width: 30%;
            text-align: center;
            .img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                border-radius: 2%;
                -webkit-border-radius: 2%;
                -moz-border-radius: 2%;
                -ms-border-radius: 2%;
                -o-border-radius: 2%;
                transition: all 0.5s ease-in;
                -webkit-transition: all 0.5s ease-in;
                -moz-transition: all 0.5s ease-in;
                -ms-transition: all 0.5s ease-in;
                -o-transition: all 0.5s ease-in;
                box-shadow: 5px 5px 1px 0px $mc;
            }
        }
    }
}


.skills {
    background-color: rgb(253, 253, 253);
    padding-top: 20px;
    h3 {
        margin: 0;
        text-align: center;
        font-size: 1.5em;
        color: $sc;
        letter-spacing:0.8;
    }
    .container {
        align-items: center;
        .skills {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .skill {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                padding: 5px 5px 20px 5px;
                &:not(:last-child){
                    border-bottom: 1px solid #ccc;
                }
                .skill-img {
                    width: 30%;
                    margin: 10px;
                    img {
                        transition: all 0.6s ease;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        -webkit-transition: all 0.6s ease;
                        -moz-transition: all 0.6s ease;
                        -ms-transition: all 0.6s ease;
                        -o-transition: all 0.6s ease;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        &:hover {
                            transform: scale(1.1) rotate(-1deg);
                            -webkit-transform: scale(1.1) rotate(-1deg);
                            -moz-transform: scale(1.1) rotate(-1deg);
                            -ms-transform: scale(1.1) rotate(-1deg);
                            -o-transform: scale(1.1) rotate(-1deg);
                        }
                    }
                }
                .skill-desc {
                    width: 65%;
                    h4 {
                        color: $mc;
                    }
                    span {
                        background-color:#ccc;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                        padding: 2px;
                    }
                }
            }
        }
    }
}


.contact {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    // border-top: 1px solid $mc;

    h3 {
        text-align: center;
        font-size: 1.5em;
        color: $sc;
        letter-spacing:0.8;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        form {
            width: 70%;
            .input-group {
                padding: 10px;
                margin: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                label {
                    width: 10%;
                    color: $sc;
                    font-size: 1.1em;
                }
                input {
                    width: 80%;
                    padding: 10px;
                    outline: none;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    &:focus {
                        box-shadow: 1px 1px 1px $sc inset,
                        -1px -1px 1px  $sc inset;
                    }

                }
                textarea {
                    width: 80%;
                    padding: 10px;
                    outline: none;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    &:focus {
                        box-shadow: 1px 1px 1px $sc inset,
                        -1px -1px 1px  $sc inset;
                    }
                }
                button {
                    width: fit-content;
                    background-color: #333;
                    color: white;
                    padding: 10px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    .footer {
        height: fit-content;
        text-align: center;
        .container {
            .fa-heart {
                color: red;
            }
            .logo {
                &::first-line {
                    color: $mc;
                    font-family: cursive;
                }
            }
        }

    }
}


@media (max-width: 767px) {
    .contact .container form {
        width: 100%;
    } 
    .contact .container form .input-group label {
        width: 0;
    }
}